/* skl.css */
* { 
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
   color: white;
   border: 2px #D4D8DD;
   border-radius: 8px;
}
header, footer {
   background-color: #A2A8B2;
   padding: 1em;
}
 p{
 	color: #6F7D97;
 	font-size: 1em;
 }
.nav-flex-container ul { 
   background-color: #A2A8B2;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
nav a {
   text-decoration: none;
   display: block;
   text-align: center;
   padding: 1em;
}
.content-flex-container{
   display: flex;
   padding: 1em;
   line-height: 2.0;
}
.aside-flex-container{
   display: flex;
}
.flex-item {
   max-width: 100%; 
   margin: auto;
   justify-content: center;
}
body{
	background-color: #D4D8DD;
	margin: 40px;
}
h1 {
	font-weight: normal;
	text-align: center; 
	text-transform: uppercase;
		font-size: 2em;
		color: #D8DBE2;
}
h2 {
	font-size: 1.5em; 
	color: #D8DBE2;
}
 section {
   background-color: white;
   flex: 3;
   text-align: center;
}

aside {
   background-color: #D4D8DD;
   flex: 2;
}
.image:hover {
-webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
}
.image {
-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
box-shadow: 0px 0px 15px 5px rgba(154, 154, 154, .75);
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}



